@font-face{
    src: url();
    font-family: ;
}

body{
    font-family: ;
    background: ;
}

div{

}

.header{
    background: ;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
}

.container{

}

.footer{
    background: ;
    bottom: ;
    right: 0;
    left: 0;
    position: relative;
}